<div class="container">
  <h1 class="mb-3">Character List</h1>
  <div class="row">
    <div class="col-lg-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <img
            class="rounded-circle"
            width="140"
            height="140"
            src="../../../assets/monsters/Monsters - Head1.png"
          />

          <h2 class="fw-normal">Blue Monster</h2>
          <p>A happy blue monster</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <img
            class="rounded-circle"
            width="140"
            height="140"
            src="../../../assets/monsters/Monsters - Head2.png"
          />

          <h2 class="fw-normal">Yellow Monster</h2>
          <p>A smiling yellow monster wearing a hat</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <img
            class="rounded-circle"
            width="140"
            height="140"
            src="../../../assets/monsters/Monsters - Head3.png"
          />

          <h2 class="fw-normal">Green Monster</h2>
          <p>A cheerful three-eyed green monster</p>
        </div>
      </div>
    </div>
  </div>
</div>
