<div class="container">
  <h1 class="mb-3">Add Character</h1>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Character Name</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Enter Character Name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Character Description</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Enter Character Description"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Upload Character Image</label>
    <input class="form-control" type="file" id="formFile" />
  </div>
</div>
